[submodule "Vendor/FlagKit"]
	path = Vendor/FlagKit
	url = git@github.com:choco/FlagKit.git
[submodule "Vendor/MASPreferences"]
	path = Vendor/MASPreferences
	url = git@github.com:shpakovski/MASPreferences.git
[submodule "Vendor/Sparkle"]
	path = Vendor/Sparkle
	url = git@github.com:sparkle-project/Sparkle.git
	branch = ui-separation-and-xpc
